<% @posts.each do |post| %>
<div>
  <%= link_to post_path(post.id) do %>
    <%= attachment_image_tag post, :image %>
  <% end %>
  <p>投稿ユーザー画像：<%= image_tag('photo1.jpg') %></p>
  <p>ショップ名：<%= post.shop_name %></p>
  <p>説明：<%= post.caption %></p>
  <p>Category：<%= post.category %></p>
  <p>ユーザーネーム：<%= post.user.name %></p>
</div>
<% end %>